<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Official NuGet repository -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <config>
    <!-- Enable package restore -->
    <add key="globalPackagesFolder" value="%USERPROFILE%\.nuget\packages" />
    <add key="repositoryPath" value="packages" />
    <add key="dependencyVersion" value="Highest" />
    <add key="packageRestoreConsent" value="true" />
  </config>

  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>

  <bindingRedirects>
    <add key="skip" value="false" />
  </bindingRedirects>

  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="false" />
  </packageManagement>
</configuration>
