<configuration>
    <system.web>
        <!-- Disable custom errors to show detailed error messages -->
        <customErrors mode="Off" />

        <!-- Enable tracing -->
        <trace enabled="true" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="false"/>
    </system.web>

    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>
        <!-- Enable detailed error pages -->
        <httpErrors errorMode="Detailed" existingResponse="Replace">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/Error/NotFound" responseMode="ExecuteURL" />
        </httpErrors>

        <!-- Enable detailed error messages -->
        <asp scriptErrorSentToBrowser="true"/>
    </system.webServer>
</configuration>