@model model.PackModel

<h2>Server Log</h2>

<div class="alert alert-info">
    <pre>packing</pre>
</div>

<hr/>

<div class="alert alert-info">
    <pre>@Model.PackLog</pre>
</div>

@await Html.PartialAsync("~/Views/Shared/_CpBackToPanelLink.cshtml", ("Back", "btn btn-primary", false))