@model model.PackModel

<h2>Server Log</h2>

<div class="alert alert-info">
    <pre>packing</pre>
</div>

<hr/>

<div class="alert alert-info">
    <pre>@Model.PackLog</pre>
</div>

<a asp-action="Index" class="btn btn-primary">Back</a>